.container>*{
    border: 3px solid gold;
    background-color: antiquewhite;
    padding: 30px;
}
header{
    grid-area:header ;
}
nav{
    grid-area: navber;
}
main{
    grid-area: main;
}
#sideber{
    grid-area: sideber;
}
#advertise{
    grid-area: advertise;
}
footer{
    grid-area: footer;
}

.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
       "header header header header"
       "navber main main sideber"
       "navber main main advertise"
       "footer footer footer footer"

}